backports.functools-lru-cache==1.5
cheroot==6.5.5
CherryPy==18.1.1
jaraco.functools==2.0
more-itertools==7.0.0
portend==2.5
pytz==2019.1
redis==4.5.3
six==1.12.0
tempora==1.14.1
tzlocal==1.5.1
zc.lockfile==1.4
